h1{
color: rgb(152, 53, 228);
height: 80px;
width: 200px;
}
h2{
 color: rgb(53, 167, 228);
height: 80px;
width: 200px;
    }
.header{
background-color: #26d0c9;
color: rgb(179, 246, 191);
height: 90px;
}
.header-logo{
font-size: 80px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: #f6389d;
}
li{
    list-style: none;
}
.footer-logo{
  color: rgb(47, 188, 122);
}
span{
    color: #728ae7;
}
body{
    background-color: #ffc7b6;
}
